[submodule "network"]
	path = network
	url = https://github.com/cita-cloud/network_tls.git
; [submodule "network"]
;     path = network
;     url = https://github.com/cita-cloud/network_p2p.git
[submodule "controller"]
	path = controller
	url = https://github.com/cita-cloud/controller.git
	branch = support-op
[submodule "executor"]
	path = executor
	url = https://github.com/cita-cloud/executor_evm.git
	branch = support-op
[submodule "consensus"]
	path = consensus
	url = https://github.com/cita-cloud/consensus_bft.git
	branch = support-op
; [submodule "consensus"]
;     path = consensus
;     url = https://github.com/cita-cloud/consensus_raft.git
[submodule "kms"]
	path = kms
	url = https://github.com/cita-cloud/kms_sm.git
	branch = main
; [submodule "kms"]
; 	path = kms
; 	url = https://github.com/cita-cloud/kms_eth.git
; 	branch = main
[submodule "storage"]
	path = storage
	url = https://github.com/cita-cloud/storage_rocksdb.git
	branch = support-op
[submodule "config"]
	path = config
	url = https://github.com/cita-cloud/cloud-config.git
	branch = wip-6.3.2
