[submodule "network"]
	path = network
	url = https://github.com/cita-cloud/network_tls.git
	branch = adapt-v6.3.0
[submodule "controller"]
	path = controller
	url = https://github.com/cita-cloud/controller.git
	branch = v6.3.0
[submodule "executor"]
	path = executor
	url = https://github.com/cita-cloud/executor_evm.git
	branch = v6.3.0
[submodule "consensus"]
	path = consensus
	url = https://github.com/cita-cloud/consensus_raft.git
	branch = dev-6.3.0
[submodule "kms"]
	path = kms
	url = https://github.com/cita-cloud/kms_sm.git
	branch = v6.3.0
[submodule "storage"]
	path = storage
	url = https://github.com/cita-cloud/storage_rocksdb.git
	branch = v6.3.0
[submodule "config"]
	path = config
	url = https://github.com/cita-cloud/clould-config.git
	branch = init-dev
